@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

.sembunyi {
	display:none;
}
.sembunyi2 {
	display:none;
}
.tampil {
	display:block;
	width: 200px;
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	padding:10px; 
	border:1px solid #102c58;
	margin-bottom:10px;
}
.tampil2 {
	display:block;
	width: 200px;
	cursor:pointer;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	padding:10px; 
	border:1px solid #102c58;
	margin-bottom:10px;
}
.tampil:hover {
	background-color: #102c58;
	color: #fff;
}
.tampil img {
	height:40px;
	width:auto;
	margin-right:10px;
}
